{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>AMIGOS</h2>
<table border="1" width="100%">
    {% for item in amigos %}
    <tr>
       <td hidden><b>id:</b> {{ item.id }}</td>
       <td><a href="/go_msg/?id={{ item.id }}"> {{ item.amigo.username }}</a></td>
       <td><a href="/del_friend/?id={{ item.id }}"> DEL </a></td>
    </tr>
    {% endfor %}
    {% for item in volta_amigos %}
    <tr>
       <td hidden><b>id:</b> {{ item.id }}</td>
       <td><a href="/go_msg/?id={{ item.id }}"> {{ item.amigo.username }}</a></td>
       <td><a href="/del_friend/?id={{ item.id }}"> DEL </a></td>
    </tr>
    {% endfor %}

 </table>

{% endblock %}

{% block msgs%}
   <h2>MENSAGENS</h2>
   <textarea cols = "80" rows= "10" readonly></textarea>
   <form>
      <textarea cols = "60" rows= "2"></textarea>
   </form>
{% endblock %}

{% block busca%}
   <h2>BUSCA</h2>

   <form action="/", method="POST">{% csrf_token%}

      <div class="form-group">
          <input type="text", class="form-control" id="buscar" name="buscaruser" placeholder="Buscar" autofocus>
      </div>      
      <div>
          {% for message in messages %}
          <div class="alert alert-danger">
              <strong>ERROR!</strong> {{ message }}
          </div>
          {% endfor %}
     </div>

  </form>
   <table border="1" width="100%">
      {% for item in list %}
      <tr>
         <td hidden><b>id:</b> {{ item.id }}</td>
         <td><a href="/go_msg/?id={{ item.id }}"> {{ item.username }}</a></td>
         <td><a href="/add_friend/?id={{ item.id }}"> ADD </a></td>
         
      </tr>
      {% endfor %}
  
   </table>
{% endblock %}